<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>basic css layout</title>
    <link href="//fonts.googleapis.com/css?family=Montserrat:900|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="common.css">
    <link rel="stylesheet" type="text/css" href="basic.css">
</head>
<body>
<h1>Basic CSS layout</h1>

<div class="default">
    <h3>Default</h3>
    <p>By default:</p>
    <ul>
        <li>The <b>position</b> property is <i>static</i>. A static element is said to be not positioned and an element
            with its position set to anything else is said to be positioned.
        </li>
        <li>The <b>display</b> property for most elements is <i>block</i> or <i>inline</i>. A block-level element starts
            on a new line and stretches out to the left and right as far as it can.
        </li>
    </ul>
</div>

<div class="float">
    <h3>Floats</h3>
    <p>Floats is a technique that allows the elements to float to the left or right of one another, rather than the
        default of sitting on top of one another. The main uses of floats are to lay out columns and float text around
        an image.
    </p>
    <p>The float property has four possible values:</p>
    <ul>
        <li>left — floats the element to the left.</li>
        <li>right — floats the element to the right.</li>
        <li>none — specified no floating at all. This is the default value.</li>
        <li>inherit — specifies that the value of the float property should be inherited from the parent element.</li>
    </ul>
</div>

<div class="float">
    Another float block.
</div>
</body>
</html>