.none-float {
    width: 80%;
    float: none;
}

.float {
    width: 80%;
    /*float: left;*/
    display: inline-block;
}

.overflow-visible {
    width: 1000px;
    overflow: visible;
}

.overflow-hidden {
    width: 1000px;
    overflow: hidden;
}

.height-100 {
    height: 100px;
}

/*.overflow-visible:before,*/
/*.overflow-visible:after {*/
    /*display: table;*/
    /*content: " ";*/
    /*clear: both;*/
/*}*/